In [0]:
def error_function(y_true,ypred):
    #print(y_true)
    #print(ypred)
    import math
    import numpy as np
    y_true=np.array(y_true)
    ypred=np.array(ypred)
    diff=np.subtract(y_true,ypred)
    sqdiff=np.square(diff)
    #print(sqdiff)
    k=math.log(2)/100
    weights=[]
    for i in range(0,len(y_true)):
        weights.append(math.exp(-(int((i+1)/96)+1)*k))
    weights=np.array(weights)
    #print(weights)
    product=np.dot(sqdiff,weights)
    root_product=math.sqrt(product)
    loss=(1/np.mean(y_true))*root_product
    print(loss)
    return loss
#Importing the librarries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
########### 
from google.colab import drive #importing from google drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
dataset= pd.read_csv('/content/gdrive/My Drive/DA_GC_2020/building5_withfeatures.csv')
#Importing the dataset
# dataset=pd.read_csv('building5_withFeatures.csv')
# dataset=dataset.drop(['date','building_number'],axis=1)
dataset.head()

         date   time   main_meter  ...  Isevening  Isnight  Season
0  08-04-2017  01:15  1881.299658  ...          0        1       1
1  08-04-2017  01:30  2327.715361  ...          0        1       1
2  08-04-2017  01:45  2209.650186  ...          0        1       1
3  08-04-2017  02:00  2215.042573  ...          0        1       1
4  08-04-2017  02:15  1910.043791  ...          0        1       1

[5 rows x 87 columns]

In [0]:
#viewing the column names
list(dataset.columns.values)
df1=dataset.loc[dataset['Season'] == 1]
df3=dataset.loc[dataset['Season'] == 3]
df4=dataset.loc[dataset['Season'] == 4]
#Forming the dependent and independent variables of training data
# Y=np.array(df3['sub_meter_1'])
# X=df3.drop(['main_meter','sub_meter_1','sub_meter_2'],axis=1)
#Checking for null values
pd.isna(X).any()
pd.isna(Y).any()

False

In [0]:
dataset=dataset[dataset['Season']!=2]
X_test=dataset.loc['01-10-2017':'31-10-2017']
X_train=dataset.loc['08-04-2017':'30-09-2017']
X_train=X_train.drop(['date','time','building_number','main_meter'],axis=1)
X_test=X_test.drop(['date','time','building_number','main_meter'],axis=1)

ser=dataset.loc['08-04-2017':'30-09-2017']
y_train=(ser['main_meter'])
sed=dataset.loc['01-10-2017':'31-10-2017']
y_test=(sed['main_meter'])
X_train.shape

#np.array

(18330, 83)

In [0]:
#Encoding
from sklearn.preprocessing import LabelEncoder,OneHotEncoder 
from sklearn.compose import ColumnTransformer
labelencoder_X=LabelEncoder()
X.iloc[:,[0]]=labelencoder_X.fit_transform(X.iloc[:,[0]])
ct = ColumnTransformer([('one_hot_encoder', OneHotEncoder(categories='auto'), [0])],remainder='passthrough' )                                        # Leave the rest of the columns untouched
X = ct.fit_transform(X)
# Y.iloc[:,[0]]=labelencoder_X.fit_transform(Y.iloc[:,[0]])
# ct = ColumnTransformer([('one_hot_encoder', OneHotEncoder(categories='auto'), [0])],remainder='passthrough' )                                        # Leave the rest of the columns untouched
# Y = ct.fit_transform(Y)
# #Encoding
# from sklearn.preprocessing import LabelEncoder,OneHotEncoder 
# labelencoder_X=LabelEncoder()
# X.iloc[:,[0]]=labelencoder_X.fit_transform(X.iloc[:,[0]])
# onehotencoder= OneHotEncoder(categories=[0])
# X=onehotencoder.fit_transform(X).toarray()

AttributeError: ignored

In [0]:
# # Splitting the dataset into the Training set and Test set
# # from sklearn.model_selection import train_test_split
# # X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.25, random_state = 0,shuffle=False)
# # #########
# # from sklearn.model_selection import train_test_split  
# # for n in range(2):
# # 	X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.8, random_state=60)  
# # 	if cv2.waitKey(1) == ord('q' or 'Q'): break 

# # Splitting the dataset into the Training set and Test set
# # X = X.reshape(X.shape[1:])
# # X = X.transpose()
#  from sklearn.model_selection import train_test_split
#  X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.25, random_state = 0,shuffle=False)
# Y.shape

In [0]:
#fITTING SIMPLE REGRESSION TO THE TRAINING SET
from sklearn.linear_model import LinearRegression
regressor=LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1, normalize=False)
regressor.fit(X_train,y_train)
#Predicting the test set result
y_pred=regressor.predict(X_test)
from sklearn.metrics import mean_squared_error
from math import sqrt
rmse = sqrt(mean_squared_error(y_test, y_pred))
print (rmse)

121.27855075355988

In [0]:
error=error_function(y_test,y_pred)

5.967727669691405

In [0]:
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.naive_bayes import GaussianNB #naiveayes can be used for regresio as well https://www.researchgate.net/publication/2360319_Naive_Bayes_for_Regression
from xgboost import XGBRegressor,XGBRFRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn import tree

import lightgbm as lgb
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor
# from catboost import CatBoostRegressor #ModuleNotFoundError: No module named 'catboost'
from sklearn.ensemble import VotingRegressor
from sklearn.model_selection import cross_val_score
import cv2
# import h2o
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import ElasticNet
from sklearn.decomposition import PCA
from sklearn.model_selection import GridSearchCV

In [0]:
 #RandomForesrtRegressor
from sklearn.ensemble import RandomForestRegressor 
regressor = RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=500, n_jobs=-1, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)
regressor.fit(X_train, y_train)   
y_pred = regressor.predict(X_test)
rmse = sqrt(mean_squared_error(y_test, y_pred))

In [0]:
print(rmse)

112.26207217103749

In [0]:
error=error_function(y_test,y_pred)

5.513188746623992

In [0]:
import lightgbm as lgb
lg = lgb.LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
              random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=False,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)
lg.fit(X_train, y_train)   
y_pred = lg.predict(X_test)
rmse = sqrt(mean_squared_error(y_test, y_pred))

In [0]:
print(rmse)

111.91993912457541

In [0]:
error=error_function(y_test,y_pred)

5.4963507944382215

In [0]:
RegressorXGB =XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=10, min_child_weight=1, missing=None, n_estimators=500,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=1, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)
RegressorXGB.fit(X_train,y_train)
y_pred = RegressorXGB.predict(X_test)
from sklearn.metrics import mean_squared_error
from math import sqrt
rmse = sqrt(mean_squared_error(y_test, y_pred))

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/usr/local/lib/python3.6/dist-packages/xgboost/core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

[18:12:22] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [0]:
print(rmse)

7.0359549775189025

In [0]:
error=error_function(y_test,y_pred)

0.12813175755250628

In [0]:
# XGBRFRegressor
RegressorXGBRF=XGBRFRegressor(base_score=0.5, colsample_bylevel=1, colsample_bynode=0.8,
               colsample_bytree=1, gamma=0, learning_rate=1, max_delta_step=0,
               max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
               n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
               reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
               silent=None, subsample=0.8, verbosity=1)

RegressorXGBRF.fit(X_train,y_train)
y_pred = RegressorXGBRF.predict(X_test)
rmse = sqrt(mean_squared_error(y_test, y_pred))

[19:22:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [0]:
print(rmse)

496.8637469282849

In [0]:
error=error_function(y_test,y_pred)

4.333575512224312

In [0]:
#Adaboost regressor
regressorAB =AdaBoostRegressor(base_estimator=None, learning_rate=0.25, loss='linear',
                  n_estimators=500, random_state=None)

regressorAB.fit(X_train,y_train)
y_pred = regressorAB.predict(X_test)
rmse = sqrt(mean_squared_error(y_test, y_pred))

In [0]:
print(rmse)

602.2791886633504

In [0]:

error=error_function(y_test,y_pred)

7.298649906081067